@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");

*,
*::after,
*::before {
  box-sizing: inherit;
  overflow: hidden;
}

html {
  font-size: 62.5%;
} /*10px*/

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #191814;
}

.canvas {
  position: fixed;
  inset: 0;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  position: fixed;
  top: 4rem;
  height: max-content;
  width: max-content;
}

.header__logo a {
  position: relative;
  display: inline-block;
  font-family: "Rubik Moonrocks", cursive;
  font-size: 4rem;
  text-decoration: none;
  letter-spacing: 0.4rem;
  padding: 0.4rem;
  color: #8fbfff;
}

.header__menu {
  position: absolute;
  top: 50%;
  transform: rotate(-90deg) translateX(25%);
}

.header__menu ul {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 1.6rem;
  list-style-type: none;
}

.header__menu ul li {
  padding: 0 1rem;
}

.header__menu ul li a {
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.85;
}

.header__icons {
  position: fixed;
  bottom: 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  width: max-content;
}

.header__icon {
  cursor: pointer;
  height: 2.4rem;
  width: 2.4rem;
  fill: #fff;
}

main,
.wrapper {
  height: 100%;
  width: 100%;
}

.wrapper {
  position: relative;
}

section {
  padding-left: 13.6rem;
  padding-right: 12rem;
  position: absolute;
  inset: 0;
  opacity: 0;
}

.intro {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__text {
  max-width: 960px;
  width: 100%;
  margin-top: 24rem;
}

.intro__title {
  font-size: 3.2rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.intro__subtitle {
  font-size: 10rem;
  font-weight: 800;
  line-height: 100%;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.scroll__arrow {
  position: fixed;
  bottom: 4.8rem;
  transform: translateX(-50%);
  width: 2.4rem;
  fill: #fff;
  opacity: 0;
}

.scroll__arrow:nth-child(1) {
  left: 47.5%;
}

.scroll__arrow:nth-child(2) {
  left: 50%;
}

.scroll__arrow:nth-child(3) {
  left: 52.5%;
}

/* Utilities */
.text-gradient {
  background-image: linear-gradient(
    45deg,
    #ffffff 0%,
    #5648fa 75%,
    #ffffff 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
